@{
    ViewData["Title"] = "Home Page";
}
<body>

</body>
<div class="customJumbo jumbotron text-center">
    <h1>Movie Plaza Theatres</h1>      
    <p>Your deluxe cinema experience</p>
</div>

<p id ="blurb">
    Movie Plaza Theatres are luxury cinemas. We aim to provied you with an outstanding cinema experience that will become a special memory.
    You can find your local Movie Plaza Theatre at one of our 5 locations: Fitzroy, St Kilda, Melbourne CBD, Sunshine and Lilydale.
</p>

<div class="interactivePanel">
    <div class="homeMenu">
        <p id="luxuryToggle" class="toggleLinks">Luxurious </p>
        <p id="modernToggle" class="toggleLinks">Modern</p>
        <p id="latestToggle" class="toggleLinks">Latest Movies </p>
        <p id="snackToggle" class="toggleLinks">Snack Bar </p>
    </div>
    
    <div class="homeDisplays">
        <div id="luxury" class="display">
            <img class="bigImage" src="/Images/Luxury.jpg"/>
            Our Movie Plaza Theatres provide a luxurious, fully catered cinema expereince. Each cinema features 20 armchair style seats, with personal side table and cup holder and ample leg room! Our friendly cinema attendants are on hand to take care of any special requests.
        </div>
        <div id="modern"  class="display">
            <img class="bigImage" src="/Images/Modern.jpg" />
            Movie Plaza Theatres are filled with the latest cinematic tehcnology. See the Movies with ground breaking audio and the clarity of the bigscreen.
        </div>
        <div id="latest"  class="display">
            <img class="bigImage" src="/Images/Latest.jpg" />
            Every week you can enjoy the latest films from the block buster theme. We show the latest art-house films from the film festival circuit as part of out monthly specials. And now, introducing limited screenings of your favourite classics as part of our clasic film Fridays!
        </div>
        <div id="snack"  class="display">
            <img class="bigImage" src="/Images/Snack.jpg" />
            Our snack bars stock a range of gourmet and classic cinema snacks. We have chips and fresh popcorn, hand made chocolates and the classic choctop. Take your drink in with our licensed bar. Now stocking wine and craft beer.
        </div>
    </div>
 
</div>


<script>
    $(document).ready(function () {

        $("#luxuryToggle").click(function(){
            $("#luxury")
                .css("display", "flex")
                .hide()
                .fadeIn(1000);
            $("#modern").hide();
            $("#latest").hide();
            $("#snack").hide();
        });

        $("#modernToggle").click(function () {
            $("#modern")
                .css("display", "flex")
                .hide()
                .fadeIn(1000);
            $("#luxury").hide();
            $("#latest").hide();
            $("#snack").hide();
        });

        $("#latestToggle").click(function () {

            $("#latest")
                .css("display", "flex")
                .hide()
                .fadeIn(1000);
            $("#luxury").hide();
            $("#modern").hide();
            $("#snack").hide();
        });

        $("#snackToggle").click(function () {
            $("#snack")
                .css("display", "flex")
                .hide()
                .fadeIn(1000);
            $("#luxury").hide();
            $("#modern").hide();
            $("#latest").hide();
        });
    });
</script>