@using CineplexWebsite.Models
@model CineplexWebsite.Models.MovieSessionDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div class="sessionResult">
            
            
    <h1 class="movieTitle"> @Model.Movie.Title</h1> 

    <div class="info">
        <div class="left">
            <img class="movieImage" src=/@Model.Movie.ImageUrl />  
        </div>
        <div class="right">
            <p class="description"> @Model.Movie.LongDescription</p>
            <p class="cinema"> @Model.Cineplex.Location</p>
            <p class="time"> @Model.MovieSession.SessionTime</p>
        </div>
               
    </div> 
            
            
</div>

<div class="wrapper">
    <div class="container">
        <div id="seat-map">


            <div class="front-indicator">Front</div>
        </div>
        <div class="booking-details">
            <h2>Booking Details</h2>

            <h3> Selected Seats (<span id="counter">0</span>):</h3>
            <ul id="selected-seats"></ul>

            Total: <b>$<span id="total">0</span></b>

            <button class="add-button", id="add-to-cart-button">Add</button>

            <div id="legend"></div>
        </div>
    </div>
</div>

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="/js/jquery.seat-charts.js"></script>

<script src="/js/SeatPicker.js"> </script>